.product-details .product-details-content {
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding: 20px;
}
.product-details-content .quantity-container {
    gap: 20px;
}
 /* media query */
@media (max-width: 768px) {
    .product-details .product-details-content {
        flex-direction: column;
    }
}